body,input{font-family:"Microsoft yahei";background:#404040;}
*{padding:0;margin:0;list-style:none}
img{border:0;width:100%}
a{text-decoration:none;outline:0}
.popbox{width:75%;margin:50px 0 0 12.5%;}
.qual{position:relative;float:left;width:100%;padding-top:22px;background:#3e1e6c}
.toptit{position:absolute;left:0;top:0;width:100%;}